certifi
cffi
charset-normalizer
click
colorama
cors
filelock
Flask
future
gevent
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
pycparser
PySocks
pytube
requests
requests-file
six
tldextract
urllib3
Werkzeug
gunicorn